:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font Weight */
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;

  /* Font size */
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-md: 16px;
  --font-size-2xl: 24px;

  /* Line height*/

  --line-height-sm: 22px;

  /* Цвета фона */
  --color-bg-primary: rgba(255, 255, 255, 1);
  --color-bg-secondary: rgba(175, 175, 175, 1);
  --color-bg-sidebar: rgba(217, 217, 217, 1);
  --color-bg-gray-100: rgba(245, 245, 245, 1);

  /* Цвета текста */
  --color-text-primary: rgba(0, 0, 0, 1);
  --color-text-secondary: rgba(164, 167, 174, 1);
  --color-text-gray-500: rgba(113, 118, 128, 1);
  --color-text-gray-700: rgba(65, 70, 81, 1);
  --color-text-gray-800: rgba(37, 43, 55, 1);
  --color-text-paragraph: rgba(65, 70, 81, 1);
  --color-text-inverse: #ffffff;
  --color-text-default: rgba(83, 79, 79, 1);

  /* Тени */
  --shadow-default: 0px -2px 16px 0px rgba(97, 97, 97, 0.08);

  /* Цвета кнопок */
  --color-button-primary: rgba(69, 110, 255, 1);
  --color-button-hover: #0056b3;
  --color-button-disabled: #cccccc;

  /* Границы */
  --color-border: #e0e0e0;
  --color-border-gray-300: rgba(213, 215, 218, 1);

  /* Состояния */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;

  /* Badge color */
  --color-badge-reglament-bg: rgba(239, 248, 255, 1);
  --color-badge-instruction-bg: rgba(239, 255, 241, 1);
  --color-badge-order-bg: rgba(254, 243, 242, 1);

  --color-badge-reglament-text: rgba(23, 92, 211, 1);
  --color-badge-instruction-text: rgba(23, 211, 111, 1);
  --color-badge-order-text: rgba(180, 35, 24, 1);

  /* Border radius */
  --border-radius-sm: 6px;
  --border-radius-s: 8px;

  /* Border color */
  --border-color-reglament: rgba(178, 221, 255, 1);
  --border-color-instruction: rgba(202, 254, 216, 1);
  --border-color-order: rgba(254, 205, 202, 1);
  --border-color-gray-200: rgba(233, 234, 235, 1);
  --border-color-gray-300: rgba(213, 215, 218, 1);
  --border-color-footer: rgba(234, 236, 240, 1);
}

body {
  margin: 0;
}
